@model Ogrenci_Kayıt.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Ögrenci Detaylar</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrId }) |
    @Html.ActionLink("Ögrenci Listesine dön", "Index")
</p>
<dt>
    <img src="@Model.OgrFotograf" width="100" height="100" />
</dt>
