@model IEnumerable<Ogrenci_Kayıt.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Ögrenci Listesi</h2>

<p>
    @Html.ActionLink("Yeni Ögrenci Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OgrAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrMail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OgrAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrSoyad)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.OgrAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrMail)
        </td>
        <td>
            @Html.ActionLink("Duzenle", "Edit", new { Id = item.OgrId },new {@class="btn btn-success" } ) |
            @Html.ActionLink("Detaylar", "Details", new { Id = item.OgrId },new { @class="btn btn-primary" } ) |
            @Html.ActionLink("Sil", "Delete", new { Id = item.OgrId }, new {@class="btn btn-danger" } ) |
        </td>
    </tr>
}

</table>
